registry=https://packages.argesware.com
//packages.argesware.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJhY2VycmF0byJdLCJuYW1lIjoiYWNlcnJhdG8iLCJncm91cHMiOlsiYWNlcnJhdG8iLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNzcxNDIyMDIyLCJuYmYiOjE3NzE0MjIwMjMsImV4cCI6MTc3NjYwNjAyMn0.s_SM1_OtSTm1zgoIsAuf-_MeYLhJooFO4UOgRv-KqHc
