registry=https://packages.argesware.com
//packages.argesware.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJhY2VycmF0byJdLCJuYW1lIjoiYWNlcnJhdG8iLCJncm91cHMiOlsiYWNlcnJhdG8iLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNzY2MjA0NDkzLCJuYmYiOjE3NjYyMDQ0OTQsImV4cCI6MTc3MTM4ODQ5M30.pErUlYCPHCTDb_PV2v-OKb7VOlK-E8kb8GCBcvf4Fi0